<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %}</title>

    <!-- SEO Meta Data -->
    <meta name="description"
          content="{% block description %}{% endblock %}" />
    <link rel="canonical" href="https://issikebrokenyet.github.io" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ self.title() }}" />
    <meta property="og:description" 
          content="{{ self.description() }}" />
    <meta property="og:url" content="https://issikebrokenyet.github.io/" />
    <meta property="og:site_name" content="{{ self.title() }}" />
    <meta property="og:image" content="https://issikebrokenyet.github.io/isby.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ self.title() }}" />
    <meta name="twitter:description" 
          content="{{ self.description() }}" />
    <meta name="twitter:site" content="https://issikebrokenyet.github.io" />
    <meta name="twitter:image" content="https://issikebrokenyet.github.io/isby.png" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS Styling -->
    <link rel="stylesheet" href="style.css" />

    <!-- Additional head info from child template -->
    {% block head %}{% endblock %}

    <!-- MathJax Config -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          tex2jax: {
          inlineMath: [['$','$']]
        },
        asciimath2jax: {
          delimiters: [['$','$']]
        }
      });
    </script>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  </head>
  <body>
    <header>
      <h1>Is SIKE broken yet?</h1>
      <div class="navigation">
        <a href="index.html" target="_self">Home</a> <a href="about.html" target="_self">About</a>
      </div>
      </content>
    </header>
    <!-- Child template content -->
    {% block content %}{% endblock %}
    <footer>
      <a href="https://github.com/issikebrokenyet/issikebrokenyet.github.io/">Contribute on GitHub</a>
      <button id="theme-toggle" class="btn-theme-toggle">Change theme</button>
    </footer>
  </body>

  <script src="theme.js"></script>
  <!-- Child template javascript -->
  {% block scripts %}
  {% endblock %}
</html>
