<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="style.css" />

    {% block head %}{% endblock %}

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          tex2jax: {
          inlineMath: [['$','$']]
        },
        asciimath2jax: {
          delimiters: [['$','$']]
        }
      });
    </script>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  </head>
  <body>
    {% block content %}{% endblock %}
    <footer>
      <a href="https://github.com/issikebrokenyet/issikebrokenyet.github.io/">Contribute on GitHub</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button id="theme-toggle" class="btn-theme-toggle">Change theme</button>
    </footer>
  </body>

  <script src="theme.js"></script>
  {% block scripts %}
  {% endblock %}
</html>
