{% extends "base.html" %}
{% block title %}Is SIKE broken yet?{% endblock %}
{% block description %}A knowledge base of most isogeny based cryptosystems and the best attacks on them.{% endblock %}
{% block content %}
  <h1>Is SIKE broken yet?</h1>
    <h2 id="schemes">Schemes</h2>
    <div class="grid-wrapper">
      <div class="grid-schemes">
        {{ schemes_head | safe }}
        {{ schemes | safe }}
      </div>
    </div>
    <h2 id="assumptions">Assumptions</h2>
    <div class="grid-wrapper">
      <div class="grid-assumptions">
        {{ assumptions_head | safe }}
        {{ assumptions | safe }}
      </div>
    </div>
    <h2 id="attacks">Attacks</h2>
    <div class="grid-wrapper">
      <div class="grid-attacks">
        {{ attacks_head | safe }}
        {{ attacks | safe }}
      </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="toggles.js"></script>
{% endblock %}