<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Is SIKE broken yet?</title>
    <meta name="description"
          content="A knowledge base of most isogeny based cryptosystems and the best attacks on them." />
    <link rel="canonical" href="https://issikebrokenyet.github.io" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Is SIKE broken yet?" />
    <meta property="og:description" 
          content="A knowledge base of most isogeny based cryptosystems and the best attacks on them." />
    <meta property="og:url" content="https://issikebrokenyet.github.io/" />
    <meta property="og:site_name" content="Is SIKE broken yet?" />
    <meta property="og:image" content="https://issikebrokenyet.github.io/isby.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Is SIKE broken yet?" />
    <meta name="twitter:description" 
          content="A knowledge base of most isogeny based cryptosystems and the best attacks on them." />
    <meta name="twitter:site" content="https://issikebrokenyet.github.io" />
    <meta name="twitter:image" content="https://issikebrokenyet.github.io/isby.png" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="style.css" />

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
    	  tex2jax: {
          inlineMath: [['$','$']]
        },
        asciimath2jax: {
          delimiters: [['$','$']]
        }
      });
    </script>
    <script type="text/javascript" async
	    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  </head>
  <body>
    <h1>Is SIKE broken yet?</h1>
    <h2 id="schemes">Schemes</h2>
    <div class="grid-wrapper">
      <div class="grid-parent">
        {{ schemes_head | safe }}
        {{ schemes | safe }}
      </div>
    </div>
    <h2 id="assumptions">Assumptions</h2>
    <div class="grid-wrapper">
      <div class="grid-parent">
        {{ assumptions_head | safe }}
        {{ assumptions | safe }}
      </div>
    </div>
    <h2 id="attacks">Attacks</h2>
    <div class="grid-wrapper">
      <div class="grid-parent attack-grid">
        {{ attacks_head | safe }}
        {{ attacks | safe }}
      </div>
    </div>
    <footer>
      <a href="https://github.com/issikebrokenyet/issikebrokenyet.github.io/">Contribute on GitHub</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button id="theme-toggle" class="btn-theme-toggle">Change theme</button>
    </footer>
  </body>

  <script src="toggles.js"></script>
</html>
